.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  margin-top: 10px;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

.appContainer {
  margin-bottom: 40px;
}

.footer {
  background-color: #212529;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  line-height: 25px;
}

a:link {
  text-decoration: none;
}
.paginateDesign {
  display: flex;
  align-content: stretch;
  justify-content: center;
}
.filterMargin {
  margin-top: 8px !important;
}
.greenColumn {
  transition: background 0.35s ease 0s;
  /* color: rgba(24, 198, 131, 0.19) !important; */
  color: crimson;
}
.redColumn {
  transition: background 0.35s ease 0s;
  /* color: #fddcd9 !important; */
  color: green;
}
