html {
  font-family: Poppins, sans-serif !important;
}
.mainContainer {
  padding: 24px;
}
.headRow {
  margin-bottom: 2%;
}
.nftimg {
  height: 450px;
  width: 400px;
}
h1 {
  font-size: 30px !important;
}
.tokenPrice {
  font-size: 30px !important;
}
.tokenformat {
  font-size: 15px;
}
.nft_attr {
  margin: 10px;
}
.nft_attr_val {
  white-space: nowrap;
}
.nft_details {
  border: none !important;
}
.row {
  margin: 10px !important;
}
